cachetools==5.5.2
contourpy==1.3.2
cupy-cuda11x==13.6.0
cycler==0.12.1
darkdetect==0.8.0
edt==3.0.0
fastremap==1.17.5
fastrlock==0.8.3
fonttools==4.60.0
fsspec==2025.9.0
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-core==2.4.3
google-cloud-storage==3.4.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
igraph==0.11.9
imagecodecs==2025.3.30
imageio==2.37.0
imageio-ffmpeg==0.6.0
joblib==1.5.2
kiwisolver==1.4.9
lazy-loader==0.4
llvmlite==0.44.0
mahotas==1.4.18
matplotlib==3.10.6
mgen==1.2.1
natsort==8.4.0
ncolor==1.4.5
numba==0.61.2
numpy==1.25.2
omnipose==1.0.6
omnipose-theme==1.1.3
opencv-python-headless==4.12.0.88
pandas==2.3.2
pbr==7.0.1
peakdetect==1.2
proto-plus==1.26.1
protobuf==6.32.1
pyasn1==0.6.1
pyasn1-modules==0.4.2
pyparsing==3.2.4
pyqt6==6.9.1
pyqt6-qt6==6.9.2
pyqt6-sip==13.10.2
pyqtgraph==0.13.7
pytorch-ranger==0.1.1
pytz==2025.2
qtpy==2.4.3
rsa==4.9.1
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.10.1
superqt==0.7.6
sympy==1.13.1
texttable==1.7.0
threadpoolctl==3.6.0
tifffile==2023.4.12
torch-optimizer==0.3.0
torchvf==0.1.4
torchvision==0.20.1
tqdm==4.67.1
tzdata==2025.2
